body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2f2b9c;
  color: #fcf9f9;
  padding: 20px 0;
  text-align: center;
}

main {
  padding: 20px;
}

.movie-review {
  margin-bottom: 30px;
}

.review-info {
  display: flex;
  align-items: center;
}

.review-info img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-details {
  flex: 1;
}

.review-details h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.review-details p {
  color: #666;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
